.icon {
  font-size: 4rem;
  color: var(--secondarycolor);
  margin-bottom: 1.5rem;
}

.title {
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.text {
  color: var(--primaryColor);
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0 1rem;
}
