.container {
  position: relative;
  overflow: hidden;
}

.link {
}

.image {
  width: 100%;
  transition: all 0.7s linear;

  &:hover {
    transform: scale(1.1);
    opacity: 0.3;
  }
}

.title {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  display: none;

  &:hover {
    display: block;
  }
}
